<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/company" method='POST'>
        <label for="name">Enter the name</label>
        <input type="text" name="name">
        <label for="logo">Enter the logo link</label>
        <input type="text" name="logo">
        <label for="address">Enter your company's address</label>
        <input type="text" name="address">
        <label for="city">Enter the telephone number</label>
        <input type="text" name="city">
        <label for="telephone">Enter the telephone number</label>
        <input type="text" name="telephone">
        <br>
        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <br>
        <input type="text">
        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <input type="text">
        <input type="submit" value="Submit">
    </form>
</body>
</html>